*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

/* --- */

html {
  font-size: 16px;
}

body {
  font-family: sans-serif;
}

/* --- */

#container {
  height: 100vh;

  padding: 10px;

  background-color: rgb(214, 140, 140);
}

/* --- */

h1 {
  margin-bottom: 1rem;

  font-size: 1.6rem;
  text-align: center;
}

/* --- */

h2 {
  margin-bottom: 1rem;

  font-size: 1.2rem;
  text-align: center; 
}

/* top */

#container > div:first-of-type {
  margin-bottom: 1rem;
  padding: 1rem;

  border: 2px linen solid;
  background-color: rgb(73, 218, 218);
  border-radius: 4rem 4rem 0.5rem 0.5rem;
}

/* center */

#container > div:nth-of-type(2) {
  margin-bottom: 1rem;
  padding: 1rem;

  border: 2px linen solid;
  background-color: yellow;
  border-radius: 1rem 1rem 0.5rem 0.5rem;
}

/* left */

div:nth-last-child(2) > div:first-child {
  margin-bottom: 1rem;
  padding: 1rem;

  border: 2px linen solid;
  background-color: mediumpurple;
  border-radius: 4rem 0rem 0.5rem 0rem;
}

/* right */

div:nth-last-child(2) > div:last-child {
  margin-bottom: 1rem;
  padding: 1rem;

  border: 2px linen solid;
  background-color: orange;
  border-radius: 0.5rem 0rem 4rem 0rem;
}

/* bottom */

#container > div:last-of-type {
  margin-bottom: 1rem;
  padding: 1rem;

  border: 2px linen solid;
  background-color: yellowgreen;
  border-radius: 0.5rem 0.5rem 4rem 4rem;
}
